:root {
  font-size: 24px;
  font-family: monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  height: 100vh;
  background: #ddd;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(5, 75px);
  grid-template-rows: repeat(6, 75px);
  text-align: center;
  align-items: center;
  background: #fff;
  padding: 40px 20px 20px;
  gap: 5px;
  border-radius: 8px;
  box-shadow: 0px 1px 3px #000;
}

.is-on {
  background: rgba(186, 255, 189, 0.6);
}

.is-on:hover {
  background: rgba(186, 255, 189, 1);
}

.change-mode {
  background: rgba(218, 63, 43, 0.74);
  color: #fff;
}

.change-mode:hover {
  background: rgba(218, 63, 43, 1);
}

/* .number .operator .clear .erase */

button {
  border: 0px;
  background: none;
  width: 100%;
  height: 100%;
  font-size: 1.25rem;
  box-shadow: 0px 1px 3px #0009;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.display {
  grid-column: 1/-1;
  text-align: right;
  padding: 10px;
  width: 100%;
  background: #dddc;
  border-radius: 8px;
  font-size: 1.5rem;
  box-shadow: 0px -3px 10px #ddd inset;
  margin-bottom: 10px;
  height: 70px;
}

/* .clear{
  grid-column: 2/4;
} */

.zero {
  grid-row: 6;
  grid-column: 1/3;
}

.result {
  grid-column: 5;
  grid-row: 5/7;
}

.memory-style{
  position: relative;
}

.memory-style::after {
  position: absolute;
  content: "M";
  font-size: 12px;
  width: 14px;
  height: 14px;
  right: 370px;
  bottom: 136px;
  background: rgba(128, 128, 128, 0.356);
  border-radius: 3px;
  cursor: initial;
}

button:hover {
  background: #ddda;
}

button:active {
  box-shadow: 2px 2px 5px #0002 inset;
}


